@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: "Kumbh Sans", sans-serif;
}

.App {
  min-width: 320px;
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .App {
    padding: 0 1rem;
  }
}
